@page "/counter"

<div class="card bg-light shadow">
    <div class="card-body">
        <h3>Counter: @CurrentCount</h3>

        <button class="btn btn-primary" @onclick="IncrementCount">+1</button>
    </div>
</div>

@code {
    private int CurrentCount = 0;

    private void IncrementCount()
    {
        CurrentCount++;
    }
}
