@page "/"
@implements IDisposable

<PageTitle>Wetterdaten</PageTitle>

<div class="row mb-4">
    <div class="col">
        <div class="card bg-light shadow">
            <div class="card-body">
                 <h3>Wetter Daten</h3>
                <div class="row">
                    <div class="col">
                        @if (ChartData is not null && ChartData.Count > 0)
                        {
                            <!-- Chartconfig-Component -->
                            <CascadingValue Name="ChartData" Value="ChartData">
                                <CascadingValue Name="Dates" Value="Dates">
                                <LineChart @key="ChartData" />
                            </CascadingValue>
                            </CascadingValue>

                        }
                        else
                        {
                            <span class="spinner-border text-success" role="status"></span>
                            <span class="text-success ms-2">Lade Wetterdaten...</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<int> ChartData { get; set; } = new();
    private List<string> Dates { get; set; } = new();
    private PeriodicTimer? Timer;
    private CancellationTokenSource Cts = new();

    protected override async Task OnInitializedAsync()
    {
        Timer = new PeriodicTimer(TimeSpan.FromSeconds(3));

        while (await Timer.WaitForNextTickAsync(Cts.Token))
        {
            ChartData = Enumerable.Range(1, 10)
                .Select(_ => Random.Shared.Next(10, 100))
                .ToList();

            Dates = Enumerable.Range(0, 10)
                .Select(i => DateTime.Today.AddDays(i).ToString("dd.MM.yy"))
                .ToList();

            StateHasChanged();
        }
    }

    public void Dispose()
    {
        Cts.Cancel();
        Timer?.Dispose();
    }
}